@import '../../../scss/variables';

button.btn {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 35%);
  position: fixed;
  bottom: 30px;
  right: 35px;

  @media ($max-mobile) {
    height: 60px;
    width: 60px;
    bottom: 25px;
    right: 25px;
  }

  i {
    font-size: 1.375rem;
    top: 1px;
    position: relative;
  }

  &.btn-primary {
    background-color: $c-blue-2;
    border-color: $c-blue-2;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }
}
