@import '../../scss/variables';

.list-col {
  ul {
    list-style: none;
    padding-left: 0;
    font-size: 0.875rem;
    margin-bottom: 0;

    li {
      line-height: 1.4;
      word-break: break-all;
      border-bottom: 1px dashed #ddd;
      overflow: hidden;
      z-index: 1;

      @media ($max-mobile) {
        &:last-child {
          border-bottom: 2px solid #ddd;
        }
      }

      a {
        display: block;
        color: #212529;
        transition: margin 0.15s ease-out;
        position: relative;
        z-index: 10;
        background-color: #fff;
        padding: 14px 15px;
        touch-action: none;
        text-decoration: none;

        &:hover,
        &:focus,
        &.active {
          background-color: #eee;
        }
      }
    }
  }

  @media ($min-desktop) {
    width: auto;

    ul li a {
      padding: 16px 20px;
    }
  }
}
