@import '../../scss/variables';

.header {
  background-color: $c-blue;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  position: relative;
  z-index: 2;
  min-height: 70px;

  button.btn.btn-primary {
    background: transparent;
    border-color: $c-blue;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: static;
    box-shadow: none;
    margin-right: 20px;
    animation: fadeIn linear 250ms;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &:first-child {
      margin-right: 15px;
    }

    &:hover,
    &:focus {
      border-color: #68a5ff;
      opacity: 1;
    }

    i {
      font-size: 1.625rem;
      top: 0px;
      position: relative;
      left: -1px;
      margin: 0;
    }

    @media ($max-mobile) {
      margin-right: 0;

      &:first-child {
        margin-right: 5px;
      }
    }
  }

  i {
    color: #fff;
    font-size: 1.75rem;
    margin: 0 15px;

    @media ($max-mobile) {
      margin: 0 10px 0 5px;
    }
  }

  h1 {
    color: #fff;
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;

    span {
      font-weight: 300;
    }
  }
}
