.MuiLinearProgress-root {
  background-color: rgb(167, 202, 237);
  height: 4px;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0;

  .MuiLinearProgress-bar {
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    transition: transform 0.2s linear;
    transform-origin: left;
  }

  .MuiLinearProgress-bar1Indeterminate {
    width: auto;
    animation: MuiLinearProgress-keyframes-indeterminate1 2.1s
      cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  }

  .MuiLinearProgress-bar2Indeterminate {
    width: auto;
    animation: MuiLinearProgress-keyframes-indeterminate2 2.1s
      cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
  }

  .MuiLinearProgress-barColorPrimary {
    background-color: #1976d2;
  }

  @keyframes MuiLinearProgress-keyframes-indeterminate1 {
    0% {
      left: -35%;
      right: 100%;
    }
    60% {
      left: 100%;
      right: -90%;
    }
    100% {
      left: 100%;
      right: -90%;
    }
  }

  @keyframes MuiLinearProgress-keyframes-indeterminate2 {
    0% {
      left: -200%;
      right: 100%;
    }
    60% {
      left: 107%;
      right: -8%;
    }
    100% {
      left: 107%;
      right: -8%;
    }
  }
}
