.form-control {
  border: 0;
  color: $c-text;
  border-radius: 0;
  border-bottom: 1px solid $c-border;
  padding-left: 0;
  padding-right: 0;
  font-size: 0.875rem;

  &.not-valid {
    border-bottom-color: $c-error-red;
  }

  &::placeholder {
    opacity: 0.5;
  }
}

textarea {
  height: calc(100% - 15px);
  resize: none;
}

.textarea-wrap {
  height: calc(100% - 106px);
  margin-top: 25px;
}
