@import './variables';

.SplitPane {
  padding: 0;

  @media ($max-mobile) {
    .Pane.horizontal.Pane1 {
      display: block !important;
      height: auto !important;
    }
  }
}

.Resizer {
  background-color: $c-border;
  z-index: 10;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;

  &:hover {
    background-color: #000;
    opacity: 0.15;

    &.disabled {
      cursor: not-allowed;
    }
  }

  &.horizontal {
    @media ($max-mobile) {
      display: none;
    }
  }

  &.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;

    &:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.4);
      border-right: 5px solid rgba(0, 0, 0, 0.4);
    }
  }
}
