@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import './resizer';
@import './typography';
@import './variables';
@import './forms';

body,
html,
#notes-app {
  height: 100%;
}

.container-fluid.h-100 {
  > .row.content {
    height: calc(100% - 70px);
    z-index: 1;
    position: relative;
  }
}

.error-red {
  color: $c-error-red;
  margin-bottom: 6px;
}
